spring:
  application:
    name: three-panthers
  
  datasource:
    url: jdbc:postgresql://45.77.36.194:5432/laptrinhfe
    username: betodemy
    password: Betodemy2025

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        default_batch_fetch_size: 50
        dialect: org.hibernate.dialect.PostgreSQLDialect
  mail:
    host: smtp.gmail.com
    port: 587
    username: nguyenngochandeveloper@gmail.com 
    password: futmhnmtzutcdsnm
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration: 86400000
server:
  port: 8080
