spring:
  application:
    name: three-panthers
  
  datasource:
    url: jdbc:postgresql://45.77.36.194:5432/laptrinhfe
    username: betodemy
    password: Betodemy2025

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080
